#top-jumbo {
	background-image: url(../../assets/images/header-image.jpg);
	color: white;
	background-position: 0% 25%;
  	background-size: cover;
  	background-repeat: no-repeat;
  	text-shadow: 2px 2px black;
}